.container {
      display: flex;
}

.sidebar {
      padding-top: 30px;
      background-color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      gap: 30px;
      top: 0;
      left: 0;
      bottom: 0;
      height: 100vh;
      color: black;
}

.sidebar ul li {
      display: flex;
      align-items: center;
      padding: 0.6rem 1.5rem;
      margin: 1rem 0;
      cursor: pointer;
      color: #10403B;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: -0.5px;

}

.sidebar ul li span {
      margin-left: 1rem;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 0.4px;

}

.sidebar ul li:hover {
      background: #6ec39e5b;

}

.content {
      margin-top: 100px;
      flex: 6;
}