.community {
  margin-top: 80px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
}
.community .chats {
  width: 30%;
  height: 100%;
}
.community .friends {
  width: 68%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.community .main-community {
  height: 85%;
}
