.community .communiy-tabs {
  padding:8px 0px;
  padding-bottom: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  background-color: #fff;
  margin-top: 15px;

}
.community .communiy-tabs span {
  border-radius: 12px;
  margin-top: 10px;
  border: 1px solid #dbd8d8;
  text-align: center;
  display: flex;
  width: 180px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.community .communiy-tabs span.active {
  background-color: #81ccab;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
