.community .communiy-tabs {
  width: Fixed (150px);
  height: 10%;
  padding: 8px 20px 8px 20px;
  border-radius: 12px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.community .communiy-tabs span {
  width: Fixed (150px);

  height: 37px;
  padding: 8px 20px;
  border-radius: 12px;
  gap: 10px;
  background-color: aliceblue;
}
