.addfoodbtn {
  width: 250px;
  height: 40px;
  background-color: #fff172;
  /* background-color: #81ccab; */
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  text-decoration: none;

  color: #000000;
}
.foods .all-foods {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.foods .food {
  width: 350px;
  height: 160px;
  border: 1px solid #fff172;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.foods .food::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  background-color: #fff172;
  left: 0;
  top: 0;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}
.foods .food .feed-header {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foods .food-name {
  width: 180px;
  text-align: left;
}
.foods .feed-header .fa-utensils {
  font-size: 45px;
  color: #fff172;
}
.foods .food .feed-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 0 20px;
}
.foods .food .feed-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 0 20px;
}
.foods .food .removefeedbtn {
  width: 150px;
  height: 30px;
  background-color: transparent;
  color: #da0707;
  border: 1px solid #da0707;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
