.all-friends-container{
      margin: 10px 15px;
}
.all-friends-container .top{
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
}
.all-friends-container .top input{
      width: 350px;
      height: 40px;
      border: 1px solid #e1dcdc;
      outline: none;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      padding: 10px;
}
.all-friends-container .friends-num{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
}

.frinds-container{
      margin: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
}
.frinds-container .friend-block{
      background-color: #fff;
      padding: 10px;
      width: 30%;
      height: 130px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 10px;
}
.frinds-container .friend-block .friend-info{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 10px;
} 
.frinds-container .friend-block .friend-info .img-container{
      width: 80px;
      height: 80px;
      position: relative;
}
.frinds-container .friend-block .friend-info .img-container img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      object-fit: cover;
     
}
.frinds-container .friend-block .friend-info .img-container .active{
      width: 12px;
      height: 12px; 
      background-color:#59b48c; 
      border-radius: 50%;
      position: absolute;
      bottom: 8px;
      right: 5px;
}
.frinds-container .friend-block .friend-info .friend-information{
      display: flex;
      flex-direction: column;
}
.frinds-container .friend-block .friend-info .friend-information span{
      color: #b3adad;
      font-size: 10px;
}
.frinds-container .friend-block button{
      width: 70px;
      height: 30px;
      background-color: transparent;
      border: 1px solid #59b48c;
      border-radius: 7px;
      color: #59b48c;
      display: block;
      margin: auto;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}
