.addFiristbtn {
  width: 250px;
  height: 40px;
  background-color: #ff7a72;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  text-decoration: none;
  color: #000000;
}

.firsts .all-firsts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.firsts .first {
  width: 350px;
  height: 350px;
  border: 1px solid #ff7a72;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.firsts .first::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  background-color: #ff7a72;
  left: 0;
  top: 0;
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -ms-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
}
.firsts .first .feed-header {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.firsts .first-name {
  width: 180px;
  text-align: left;
}
.firsts .feed-header .fa-star-of-life {
  font-size: 45px;
  color: #ff7a72;
}
.firsts .first .feed-center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 0 20px;
}
.firsts .first .feed-center img {
  width: 100%;
  height: auto;
  max-height: 170px;
}
.firsts .first .feed-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 15px 0 20px;
}
.firsts .first .feed-footer .div {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.firsts .first .removefeedbtn {
  width: 150px;
  height: 30px;
  background-color: transparent;
  color: #da0707;
  border: 1px solid #da0707;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
