.addFiristbtn {
  width: 250px;
  height: 40px;
  background-color: #81ccab;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
  text-decoration: none;
  color: #000000;
}
