
::-webkit-scrollbar {
    width: 0px;
 }

.main-page{
margin-top: 0;
margin-left: 70px;
top: 0;

}
/* .main-page-content {
    margin-top: 60px;
    
}
.main-page-content  {
    text-align: center;
}
.main-page-content h1{
    font-size: 200px;
} */
.welcome{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome .left{
    flex: 1;
}
.welcome .left h2{
    color: rgb(70, 156, 146);
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.welcome .left p{
    width: 330px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 13px;
}

.welcome .left .btn-add{
    background-color: rgb(249, 180, 0);
    width: 240px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .left .btn-add i{
    margin-right: 10px;
}

.welcome .left .btn-add button{
    border: none;
    background-color: transparent;
}

.welcome .right{
    flex: 1;
}


/* ======== Hello Mom ========*/

.main-page .hello-mom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-page .hello-mom img{
    margin-right: 50px;
}

.main-page .hello-mom .content h2{
  font-size: 35px;
  font-weight: 800;
  color: rgb(16, 64, 59);
}

.main-page .hello-mom .content p{
    font-size: 30px;
    font-weight: 500;
    color: rgb(16, 64, 59);
    margin-bottom: 80px;
}

/* =========Baby Section====== */

.main-page .baby-section{
    display: flex;
    margin-bottom: 70px;
}
.main-page .baby-section .baby-info{
    flex: 1;
    margin-bottom: 100px;
}

.main-page .baby-section .baby-info .baby-name{
    display: flex;
    margin-bottom: 40px;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    height: 200px;
    background-color: rgb(16, 64, 59);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color:#fff;
}
.main-page .baby-section .baby-info .baby-name .left{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-page .baby-section .baby-info .left img{
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-page .baby-section .baby-info  .baby-name .right h2{
    font-size: 35px;
    font-weight:600;
    margin-bottom: 10px;
}

.main-page .baby-section .baby-info  .baby-name .right p{
    font-size: 20px;
    
}
.main-page .baby-section .baby-injection{
    background-color: rgb(255, 212, 91);
    width: 400px;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: rgb(16, 64, 59);
    font-size: 20px;
}

.main-page .baby-section .baby-injection img{
 width: 30px;
 height: 40px;
}

/* ------baby reminder--------- */
.main-page .baby-section .baby-reminder .baby-active ,
.main-page .baby-section .baby-vitamins{
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 50px;
    color:rgb(16, 64, 59);
    font-size: 20px;
    position: relative;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-page .baby-section .baby-active span{
    color: rgb(211, 166, 43);
}
.main-page .baby-section .baby-vitamins::before{
    content: "";
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    width: 10px;
    background-color: rgb(151, 194, 133);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}
.main-page .baby-section .baby-vitamins {
    height: 70px;
    background-color: rgb(230, 229, 229);
    align-items: center;
    padding: 0 20px;
}

.main-page .baby-section .baby-vitamins span{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid rgb(16, 64, 59);
    display: inline-block;
}
.main-page .baby-section div.finished p{
    text-decoration: line-through;
    color: gray;
}
.main-page .baby-section div.finished span{
    background-color: rgb(151, 194, 133);
    border: none;
}

/* ---baby food---- */
.main-page .baby-section .baby-food{
    display: flex;
    flex: 1;
    flex-direction: column;
    color: rgb(16, 64, 59);
}
.main-page .baby-section .baby-food h2{
    margin-bottom: 17px;
    margin-left: 25px;
    margin-top: 20px;
}
.main-page .baby-section .baby-food .orange-line{
   width: 500px;
   height: 10px;
   background-color:rgb(247, 129, 11);
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   margin-bottom: 10px;
}
.main-page .baby-section .baby-food > p{
    margin-left: 20px;
    color: rgb(211, 166, 43);
    width: 280px;
    font-size: 20px;
    margin-bottom: 10px;
}
.main-page .baby-section .baby-food h3{
    color: rgb(16, 64, 59);
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}
.main-page .baby-section .baby-food ul{
    margin-left: 55px;
    list-style: none;
}

.main-page .baby-section .baby-food  > ul li::before {
    content: "â—";
    color: rgb(247, 129, 11);
    margin-right: 8px;
  }

.main-page .baby-section .baby-food  ul li{
    margin-bottom: 25px;
    font-size: 18px;
}

.main-page .baby-section .baby-food .baby-eat ,
.main-page .baby-section .baby-food img{
    margin-right: 80px;
}
.main-page .baby-section .baby-food .baby-eat{
  border: 4px solid  rgb(249, 180, 0);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.main-page .baby-section .baby-food .baby-eat .foods{
    display: flex;
    margin: 10px 20px; 
}
.main-page .baby-section .baby-food .baby-eat .foods img{
    margin-right: 10px;
}
.main-page .baby-section .baby-food .baby-eat .foods p{
    font-size: 20px;
}
.main-page .baby-section .baby-food .baby-eat  p.introdu {
    margin: 10px 20px;
    font-size: 25px;
}

.main-page .baby-section .baby-food .baby-eat .hint{
    display: flex;
    margin: 20px;
}
.main-page .baby-section .baby-food .baby-eat .hint > div{
    width: 50px;
    height: 30px;
    background-color: rgb(247, 129, 11);
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    position: relative;
}
.main-page .baby-section .baby-food .baby-eat .hint > div span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.main-page .baby-section .baby-food .baby-eat .hint p{
    font-size: 20px;
    width: 450px;
}

/*=========Footer===========*/
.footer{
    background-color: rgb(16, 64, 59);
    height: 200px;
    padding: 30px;

}
.footer .cont{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 .footer .languge{
    margin: 30px;
    width: 180px;
    height: 50px;
    border: 1px solid rgb(151, 194, 133);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.footer .languge span{
    color: #fff;
    font-size: 20px;
}


.footer .info span ,
.footer .follow p{
    color: #fff;
    font-size: 20px;
   margin-left: 40px;
}

.footer .copyright{
    color: #fff;
    text-align: center;
    font-size: 17px;
}
