.notifications{
 display: inline-block;
}
.notifications .notification {

  padding: 1rem;
  background-color: #5b5b5b;
  border: 1px solid #3a3a3a;
  border-radius: 0.25rem;
}


.notifications  button {
  padding: 0.5rem;
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;

}




.notifications .notifications-container {
display: flex;
flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;

}
.notifications .notification-container {
width: 250px;
top: 50px;
right: -30px;
position: absolute;

}

.notifications h1 {
  font-size: 2rem;
  margin-top: 0;
}

.notifications p {
  font-size: 1.2rem;
}

.notifications .button {

  background-color: transparent;
  color: #000;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  -o-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

