.log-in {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #fff;
  overflow: auto;
}
.log-in .container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.log-in .welcome-msg {
  width: 40%;
    min-height: 100vh;
  height: auto;
}
.log-in .welcome-msg .auth-welcome-container {
  padding: 5% 0;
  width: 100%;
  height: 100%;
  background-image: url("./../../assets/images/auth-welcome-img.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 46px 46px 0;
  -webkit-border-radius: 0 46px 46px 0;
  -moz-border-radius: 0 46px 46px 0;
  -ms-border-radius: 0 46px 46px 0;
  -o-border-radius: 0 46px 46px 0;
}
.log-in .welcome-msg .auth-welcome-container .welcome-app-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 100px;
}
.log-in .welcome-msg .auth-welcome-container .welcome-app-logo img {
  width: 210px;
  height: 70px;
}
.log-in .welcome-msg .auth-welcome-container .welcome-app-logo h1 {
  width: 10ch;
  font-size: 50px;
  font-weight: 800;
  line-height: 73px;
  letter-spacing: 0.11em;
  text-align: left;
  color: #fff;
}

.log-in .login-block {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.log-in .login-block .login-auth-head {
  text-align: center;
  margin: 10px 0;
}
.log-in .login-block .login-auth-head h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0.05em;
}
.log-in .login-block .login-auth-head p {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.11em;
  color: #c7c7c7;
}
.log-in .login__field {
  position: relative;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.log-in .login__field input {
  width: 50%;
  height: 46px;
  top: 296px;
  left: 859px;
  border: 1px solid #c7c7c7;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  padding-left: 15px;
}
.log-in .login__field input::placeholder {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #c7c7c7;
}
.log-in .login__field .pass__icon {
  position: absolute;
  right: 30%;
  top: 15px;
  font-size: 16px;
}
.log-in  .links {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.11em;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
.log-in .baby-name-err {
  height: 20px;
  width: 100%;
  margin: 5px 0;
  text-align: center;
  color: crimson;
}
.log-in .go-signup {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  margin: 10px 0;
}
.log-in .go-signup-link {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #81ccab;
  text-decoration: none;
}
.log-in .submit__feild {
  width: 100%;
  display: flex;
  justify-content: center;
}
.log-in .submit__feild button {
  width: 50%;
  height: 46px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-color: #81ccab;
  border: 0px;
  cursor: pointer;
}
.log-in .social-submit {
width: 50%;
    height: 46px;
    border-radius: 8px;
    border: 0px;
    background-color: #ebebeb;
      margin: 10px 0;
}

.log-in .reversed {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/*******Set Style TO .log-in.showw **********/
.log-in .showw {
  border-right: 90px solid #000000;
  border-top: 1.7px solid transparent;
  border-bottom: 1.7px solid transparent;
  border-left: 10px solid transparent;
  margin: 0 7px;
}

/*******Set Style TO .log-in.continue-with********/

.log-in .continue-with {
    text-align: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

/*******Set Style TO  .log-in.cont-with********/

.log-in .cont-with {
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  cursor: default;
}

/*******Set Style TO .log-in.signup-register********/

.log-in .signup-register {
  color: #f9f4ed;
  cursor: default;
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
}

/*******Set Style To  .log-in.fa-brands **********/

.log-in .fa-brands {
  margin-right: 10px;
}
  .log-in .r-welcome-app-logo {
display: none;
  }
@media (max-width: 900px) {
  .log-in .welcome-msg {
    display: none;
  }
  .log-in .login-block {
    width: 100%;
    background-image: url("./../../assets/images/auth-welcome-img.svg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
  }
  
  .log-in .r-welcome-app-logo {
    display: block;
    width: 100%;
    padding-left: 20px;
  }
  .log-in .r-welcome-app-logo img{
    width: 100px;
    height: auto;
  }
}
