* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';

}

body {

    background-color: #FFFFFF;
}

header {
    margin: 30px;
    padding-bottom: 30px;

}

.main-container {
    display: flex;
    justify-content: space-around;
    
  
}
.confirm-code {
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm-code .confirm-code-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
}

h1 {
    color: var(--title-color, #10403B);
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.confirm-code .forget-password-msg {
    width: 380px;
    color: #A6A6A6;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.12px;
}

.confirm-code .confirm-code__field {
    position: relative;
    margin: 20px 0px;
    padding-bottom: 25px;
}


.confirm-code .links {
    text-decoration: none;
}

.confirm-code .confirm-code__input {
    border: 1px solid #D1D1D4;
    font-weight: 700;
    border-radius: 10px;
    text-align: center;
    width: 55px;
    height: 50px;
    background: #EBEBEB;
    margin: 10px;


}

.confirm-code .confirm-code__clear {
    -ms-border-radius: 15px;
    border: 2px solid #81CCAB;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    transition: .2s;
    -o-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #81CCAB;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    cursor: pointer;

}

.confirm-code .confirm-code__input:active,
.confirm-code .confirm-code__input:focus,
.confirm-code .confirm-code__input:hover {
    outline: none;

}

.confirm-code .confirm-code__submit {
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    background: #81CCAB;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    margin: 35px;
    margin-top: 25px;
    margin-right: 0px;
    height: 45px;

}

.confirm-code .button__text {

    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: capitalize;
    color: #FFFFFF;

}

.confirm-code .submit__feild {
    position: relative;
}

.confirm-code .reset-pass-err {
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 16px;
    color: rgb(178, 0, 0);
    width: 100%;
    text-align: center;
}






/***********************mediaquairy*****************************/

/* Extra small devices (phones, 540px and up) */
@media only screen and (min-width: 540px) and (max-width: 980px) {
    header {
        margin-top:30px;
    }

    .main-container {
        flex-direction: column;
         justify-content: center;
        align-items: center; 
        margin-bottom: 10px;
    
    }

   .img-verify img{
    padding-top: 10px;
    

   }

}