/*******Set Style font*********/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@500&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,900&display=swap');
* {

    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}

body {

    background: linear-gradient(180deg, rgba(129, 204, 171, 0.65) 0%, rgba(229, 234, 232, 0.20) 100%) !important;

}
.leftt {

    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome {
     margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center; 
}


h2 {
    color: #69C1B7;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.72px;
    text-transform: uppercase;
  
}
.paragraph {
    color: #263238;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.53px;
    width: 433px;
    height: 54px;
}

.welcome .leftt .btn-add  {
    background-color: rgb(249, 180, 0);
    width: 240px;
    height: 40px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 50px;
    color: #10403B;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;

    
}

.welcome .leftt .btn-add i {
    margin-right: 10px;
    

    
}

.welcome .leftt .btn-add button {
    border: none;
    background-color: transparent;
}

.sinupbutton {

    display: inline-flex;
    padding: 10px 45px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #69C1B7;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
text-decoration: none;
}


.loginbutton {

    display: inline-flex;
    padding: 10px 45px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    border-radius: 15px;
    border: 2px solid #81CCAB;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.36px;
    text-transform: uppercase;
   text-decoration: none;


}

.paragraphwhymom{
color: #10403B;
text-align: center;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: auto;

}
@media (min-width: 481px) and (max-width: 788px) {
    .main-page {
        margin: 0 10px;
    }

    .welcome,
    .baby-section {
        flex-direction: column;
        align-items: center;
    }

    .welcome .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome .left h2 {
        font-size: 25px;
    }

    .welcome .left p {
        width: 250px;
        font-size: 17px;
    }

    .main-page .hello-mom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-page .hello-mom img {
        display: none;
    }

    .main-page .hello-mom .content h2 {
        font-size: 28px;
    }

    .main-page .hello-mom .content p {
        font-size: 23px;
    }


}

@media (max-width: 480px) {
    .main-page {
        margin: 0 10px;
    }

    .welcome,
    .baby-section {
        flex-direction: column;
        align-items: center;
    }

    .welcome .leftt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .welcome .leftt h2 {
        font-size: 20px;
    }

    .welcome .leftt p {
        width: 250px;
        font-size: 15px;
    }

    .main-page .hello-mom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-page .hello-mom img {
        display: none;
    }

    .main-page .hello-mom .content h2 {
        font-size: 25px;
    }

    .main-page .hello-mom .content p {
        font-size: 20px;
    }

}