.add-baby {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.add-baby .container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: #81CCAB;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.add-baby .signup-block {
    width: 450px;
    height: 600px;
    padding: 95px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('./../../assets/images/welcome-bg2.png');
    background-repeat: repeat;
    background-size: cover;
        background-color: #d1d1d44a;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.two-inputs{
    width: 100%;
    display: flex;
    justify-content: center;
}
.two-inputs .the__input {
    width:130px !important;

}
.add-baby .input__field {
        position: relative;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-baby .input__field label{
    position: absolute;
    top: -30px;
left: 8px;
}


.add-baby .full-name {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-baby .full-name .the__input {
    width: 122px;
}

.add-baby .input__field p {
    text-align: right;
    color: #F9F4ED;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    margin: 10px 20px 0 0;
}

.add-baby .links {
    text-decoration: none;
}

.add-baby .the__input {
    width: 288px;
    border: none;
    border: 2px solid #D1D1D4;
    background: linear-gradient(0deg, rgba(129, 204, 171, 0.1), rgba(129, 204, 171, 0.1)), radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 77.08%, rgba(255, 255, 255, 0.8) 100%);
    padding: 10px;
    font-weight: 700;
    transition: .2s;
    border-radius: 8px;
}

.add-baby .the__input:active,
.add-baby .the__input:focus,
.add-baby .the__input:hover {
    outline: none;
    border-color: #5b927a;
}

.add-baby .addbaby__submit {
    width: 317px;
    height: 50px;
    background-color: transparent;
    border:1px solid #F9F4ED;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    color: #10403B;
    outline: none;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}


.add-baby .button__text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    width: 100%;
    text-align: center;
    color: #FFF;
}

.add-baby .button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #7875B5;
}

.add-baby .reversed {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.add-baby .showw {
    border-right: 90px solid #F9F4ED;
    border-top: 1.7px solid transparent;
    border-bottom: 1.7px solid transparent;
    border-left: 10px solid transparent;
    margin: 0 7px;
}

.add-baby .continue-with {
    display: flex;
    align-items: center;
    padding: 10px;
}

.add-baby .cont-with {
    color: #F9F4ED;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    cursor: default;
}

.add-baby .signup-register {
    color: #F9F4ED;
    cursor: default;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
}

.add-baby .fa-brands {
    margin-right: 10px;
}
.remove{
    display: none;

}
.add-baby .remove-style{
    position: absolute;
    top: 30px;
    left: 10px;
    color: rgb(178, 0, 0) !important;
}
@media   (max-width: 480px) {
    .add-baby .signup-block {
        width: 90%;
        padding: 40px 0;
        background-size: 400%;
    }

    .add-baby .the__input {
        width: 90%;
        font-size: 16px;
    }

    .add-baby .addbaby__submit {
        width: 90%;
        font-size: 16px;
    }

    .add-baby .button__text {
        font-size: 18px;
    }
    .two-inputs{
        gap: 20px;
        flex-wrap: wrap;
    }
}

/* Medium screens */
@media(min-width: 481px) and (max-width: 768px) {
    .add-baby .signup-block {
        width: 80%;
        padding: 60px 0;
        background-size: 350%;
    }



    .add-baby .addbaby__submit {
        width: 75%;
        font-size: 18px;
    }

    .add-baby .button__text {
        font-size: 20px;
    }   
}

